@import url("https://fonts.googleapis.com/css?family=Muli");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700");

* {
  margin: 0;
  /* overflow-x: hidden; */
  /* position: relative;  */
  padding: 0;
  /* max-width: 100%; */
  box-sizing: border-box;
  font-family: Roboto;
}

/* a {
  text-decoration: none;
} */
.largepad {
  padding-bottom: 5000px;
}
/* 
.magicContainer {
  position: absolute;
  color: white;
  top: 0;
}

#magicmoment {
  text-align: center;

  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
  padding-bottom: 50px;

  width: 100vw;
}
#magicmoment2 {
  text-align: center;
  position: relative;
  font-size: 40px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.15rem;
  text-align: center;

  margin-bottom: 80px;
} */


/* .video-wrapper {
  overflow-x: hidden;

}

#noOverflow {
  overflow-x: hidden;

}
.video-container {
  overflow-x: hidden;

} */
/* #YouTubeid {

  width: 177.77777778vh;
  min-width: 100%;
  overflow-x: hidden;

  position: absolute;
  pointer-events: none;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  z-index: -99;
  -webkit-filter: brightness(37%);
  filter: brightness(37%);
} */

/* @media screen and (max-width: 600px) {
  #magicmoment {
    font-size: 16px;
  }
  #magicmoment2 {
    font-size: 25px;
    font-weight: 100;
    padding: 0 2%;
    letter-spacing: 0.12rem;
  }
  #magicbutton {
    padding: 8px 60px;
  }
} */
